body {

    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    div {
    height : 100px;
    width: 500px;
    border: 1px solid black;
    margin:auto;
}

button{
    width:110px;
    
    margin-left:550px;
}


.box{
    height: 100px;
    width : 100px;
    background-color: pink;
    border: 1px solid black;
}
