body{
    text-align: center;
}

.btn {
    height:200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 3rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color:red;

}

.pink{
    background-color:pink;
    
}

.skyblue{
    background-color:skyblue;
    
}

.lightgreen{
    background-color:lightgreen;
    
}

.flash{
    background-color: white;
}

.userflash{
    background-color:green;
}